@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    background-color: #fa8b60;    
}

ul, li, figure, h1, h2 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;    
}
header h1 {
    width: 50%;
}

nav {
    float: right;
}

main {
    clear: both;
}

li, figure {
    display: inline-block;
    text-align: center;
}

main section {
    float: left;
}

.thumbnails figure {
    width: 10%;
}
