@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    background-color: #fa8b60;
}

ul, li, figure, h1, h2 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

header {
  margin-bottom: 2em;
}

header h1 {
  float: left;
}

header nav {
  margin-left: 60%;
}

/* header */

header li {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 0 2em;
  margin-left: .25em;
}

.selected {
  background-color: #e9bc1b;
}


li {
    display: inline-block;
    text-align: center;
}

main {
    clear: both;
    /*text-align: center;*/
    margin-top: 4em;
    margin-bottom: 2em;
}

main ul {
  width: 55%;
  float: left;
}
 main ul li {
   width: 30%;
   margin: 0;
   padding: 0;
 }
h4 {
   padding: 0;
   margin: 0;
   font-size: .75em;
   font-weight: normal;
   font-style: italic;
 }


main ul img {
  width: 100%;

}
.main_image {
  width: 20%;
  margin-left: 55%;
}
main div img {
  width: 100%;
}

/* about */
div.about_left {
  width: 30%;
  float: left;
  margin-right: 2em;
}

.about_right {
  margin-left: 31%;
}

.about_right p {
  border: 1px solid black;
}

p.left_paragraph {
  width: 50%;
  float: left;
  margin: 0;
}
p.right_paragraph {
  width: 45%;
  margin-left: 52%;
}

/* contact us */
div.map, div.form {
  height: 65em;
    padding: 1em;
}

div.map, .map div {
  float: none;
  margin: 0;
  text-align: left;

}

div.map {
  float: left;
  width: 60%;
  background-color: #e9bc1b;
  margin-right: 1em;
  border: 1px solid green;
}

.map div {
  float: left;
  width: 60%;
  text-align: center;
  border: 1px dashed red;

}

address {
  margin-left: 66%;
}

.map div img {

}

.map p {
  text-align: left;
}


div.form {
  margin-left: 66%;
  background-color: #e9bc1b;
  text-align: left;
}

label {
  display: block;
}

textarea {
  display: block;
}

/* footer */
footer {
  clear: both;
  margin-top: 2em;
}

footer p {
  float: left;
}

footer ul {
  float: right;
}
footer li {
  padding-left: 1em;
}

footer a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;

}
